@font-face {
    font-family: TTLakes-Bold;
    src: url("/fonts/TTLakes/TTLakes-Bold.woff");
}

@font-face {
    font-family: TTLakes-Light;
    src: url("/fonts/TTLakes/TTLakes-Light.woff");
}

@font-face {
    font-family: TTLakes-Medium;
    src: url("/fonts/TTLakes/TTLakes-Medium.woff");
}

body {
    width: 320px;
}

.container {
    max-width: 100%;
}

.main {
    width: 100%;
    background-color: #F8F8F8;
    font-family: TTLakes-Light;
}

.header__list {
    margin: 0;
    display: flex;
    max-width: 320px;
    height: 88px; 
    justify-content: space-evenly;
    align-items: center;
}

.list__item {
    margin: 0;
    max-width: 40px;
    max-height: 40px;
}

.list__logo {
    margin: 0;
    max-width: 96.55px;
    max-height: 50.81px;
}

.list__border {
    margin: 0;
    max-width: 2px;
    max-height: 32px;
}

.main__title {
    display: flex;
    padding: 24px 0 24px 0;
}

.title {
    font-size: 28px;
    line-height: 40px;
    font-family: TTLakes-Bold;
    letter-spacing: -0.6px;
    text-align: center;
    margin-left: 12px;
}

.img__title {
    max-width: 4px;
    max-height: 40px;
}

.menu {
    max-width: 100%;
    display: flex;
    margin-bottom: 24px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu__item {
    max-width: 246px;
    max-height: 40px;
    padding: 8px 9.3px 8px 16.5px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    color: #7E7E82;
    text-decoration: none;
}

.for-middle {
    display: none;
}

.for-large {
    display: none;
}

.menu__item:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    transition-delay: 0.15s;
}

.description__text {
    max-width: 100%;
    /* min-height: 90px; */
    margin: 0 16px 16px 16px;
    font-family: TTLakes-Light;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.description__btn { 
    margin-bottom: 16px;
    border: none; 
    outline: none; 
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    color: #1B1C21;
    font-family: TTLakes-Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.description__btn > img{
    margin-right: 8px;
    margin-bottom: 0;
}

.block2 {
    margin-top: 0;
    width: 100%;
}



@media (min-width: 321px) and (max-width: 768px) {

    body {
        width: 768px;
    }
    
    .container {
        max-width: 720px;
        padding: 0 24px;
    }
    
    .header__list {
        max-width: 768px; 
    }

    .for-middle {
        display: block;
    }

    .list__logo {
        margin-right: 250px;
    }

    .description {
        display: flex;
        justify-content: space-between;
    }

    .description__btn { 
        margin-bottom: 54px;
    }
    
    .description__btn > img{
        margin-right: 8px;
        margin-bottom: 0;
    }

    .block1 {
        max-width: 312px;
        min-height: 160px;
    }

    .block2 {
        max-width: 360px;
        min-height: 208px;
    }

    .block2 > img {
        width: 100%;
    }
}


@media (min-width: 769px) and (max-width: 1120px) {

    body {
        width: 1120px;
    }
    
    .container {
        max-width: 1056px;
        padding: 0 32px;
    }
    
    .header__list {
        max-width: 1120px; 
    }

    .for-middle {
        display: block;
    }

    .for-large {
        display: block;
    }

    
}